@using KidKinder.Models.Entities
@model List<Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<link rel="stylesheet" href="~/Template/KidAdmin/assets/css/Form1.css" />
<center>
    <h2>Öğrenci Listesi</h2>
</center>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th>Soyisim</th>
        <th>Dogum Tarihi</th>
        <th>Ebeveyn Bilgisi</th>
        <th>Durum</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StudentID</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.BirthDay.ToString("dd.MM.yyyy")</td>
            <td><a href="/Student/ParentView/@item.ParentID"><i class="fa fa-eye"></i></a></td>
            <td>
                @if (item.Status != false)
                {
                    <i class="fa fa-thumbs-o-up"></i>
                }
                else
                {
                    <i class="fa fa-thumbs-o-down"></i>
                }
            </td>


            <td><a href="#" class="btn btn-outline-secondary"><i class="fa fa-edit"></i>Güncelle</a></td>
            <td><a href="/Student/Delete/@item.StudentID" class="btn btn-outline-danger"><i class="fa fa-times-circle"></i>Sil</a></td>
        </tr>
    }

</table>
<a href="#" class="btn btn-outline-success"><i class="fa fa-plus-circle"></i>Yeni Kayıt</a>
